{% extends 'layout.html' %}

{% block content %}
<article class="blog-detail">
    <div class="blog-detail__content">
        <a class="blog-back-link" href="{% url 'blog:posts' %}">Volver al blog</a>
        <h1>{{ post.title }}</h1>
        <p class="blog-detail__lead">{{ post.content }}</p>
    </div>

    <aside class="blog-detail__aside">
        <img src="{{ post.image.url }}" alt="{{ post.title }} image">
        <div class="blog-detail__meta-card">
            <p class="blog-detail__meta-label">Publicado</p>
            <p class="blog-detail__meta-value">{{ post.date }}</p>
        </div>
    </aside>
</article>
{% endblock %}
